.description
  %h1 Our Solar System
  %hr/

  %p
    A CSS Solar System orbit animation true time scaled. 30 seconds is equal to one Earth year.
   

  %hr/
  %p.author
    Made with ♡
    by Bobby Tumpak
  
    
    
.solar-syst
  .sun
  .mercury
  .venus
  .earth
  .mars
  .jupiter
  .saturn
  .uranus
  .neptune
  .pluto
  .asteroids-belt
